/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#FFE4AD;
    font-family:'Trebuchet MS',HelveticaNeue-Light, 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:14px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}
table
{
   margin: 0 auto;
}
td
{
   background-color: #fff4de;
}

.sonnenBoxRahmen
{
   width: 314px;
   height: 40px;
   background-color: #764C24;
   z-index: 2;
   margin: 0 auto;
   position: relative;
}
.sonnenBoxHintergrund
{
   position: absolute;
   top: 1px;
   left: 1px;
   width: 312px;
   height: 38px;
   z-index: 3;
   background-color: #fff4de;
}
.sonnenBoxSonne
{
   position: absolute;
   top: 1px;
   left: 1px;
   height: 38px;
   z-index: 4;
   background-color: yellow;
}
#naviBlockOut
{
   width: 100%;
   position: fixed;
   top: 0;
   text-align: center;
   padding: 0;
   z-index: 9;
}
#naviBlock
{
   margin: 0;
   width: 100%;
   position: relative;
   text-align: center;
   padding: 0;
   z-index: 9;
   background:linear-gradient( #47A6FF, #FFE4AD)
}

#entfernung
{
   position: absolute !important;
   top: 22px;
   left: 24px;
   font-size: 9pt;
}

#naviBlock h5
{
   margin: 0.4em 0;
}
#naviBlock img
{
   display: inline-block;
   margin-right: 0;
}
#naviBlock div
{
   display: inline-block;
   position: relative;
}
#naviBlock h5 img
{
   cursor: pointer;
}

.datenBlock, .vergleichsBlock
{
   margin: 0 auto;
   text-align: center;
   position: absolute;
   width: 2232px;
   visibility: hidden;
   display: block;
}
.datenBlock
{
   top: 6em;
}
.datenCon, .vergleichsCon
{
   width: 313px;
   text-align: center;
   display: inline-table;
   position: absolute;
}
.datenCon
{
   top: 0px;
}
.vergleichsCon
{
   top: 30px;
}
#datenCon0, #vergleichsCon0, #monatsCon0
{
   left: 5px;
}
#datenCon1, #vergleichsCon1, #monatsCon1
{
   left: 324px;
}
#datenCon2, #vergleichsCon2, #monatsCon2
{
   left: 642px;
}
#datenCon3, #vergleichsCon3, #monatsCon3
{
   left: 960px;
}
#datenCon4, #vergleichsCon4, #monatsCon4
{
   left: 1278px;
}
#datenCon5, #vergleichsCon5, #monatsCon5
{
   left: 1596px;
}
#datenCon6, #vergleichsCon6, #monatsCon6
{
   left: 1914px;
}
#monatsBlock .vergleichsCon
{
   padding-bottom: 5px;
}

.vergleichsKopfShell
{
   width: 100%;
   height: 31px;
   text-align: center;
   background-color: #FE6A20;
}
.vergleichsKopf
{
   height: 27px;
   text-align: center;
   padding-top: 4px;
   font-size: 1.5em;
}

.datenConHidden
{
   display: none;
}
#leftOverlay
{
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   z-index: 15;
   background-color: #000000;
}
#rightOverlay
{
   position: fixed;
   top: 0;
   right: 0;
   height: 100%;
   z-index: 15;
   background-color: #000000;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
.softy
{
   opacity: 0.3;
}
.full
{
   opacity: 1;
   cursor: pointer;
}
.selectjahr
{
   background-color: #ffffff;
   width: 100px;
   font-size: large;
}
.ui-loader
{
   display: none !important;
}
.dateInput
{
   border-radius: 0px;
   display: inline-block;
   margin: 0px auto;
   width: 116px;
   vertical-align: top;
   background-color: #ffffff;
   text-align: center;
   cursor: pointer;
   font-size: 0.85em;
   padding-top: 3px;
}
.jahrInput
{
   height: 23px;
   margin: 0px 5px 0;
   width: 118px;
   background-color: #ffffff;
}
.monatsInput
{
   height: 23px;
   margin: -1px 5px 0;
   width: 118px;
   background-color: #ffffff;
   font-size: 10pt;
   padding-top: 2px;
}

.underlayArrows .ui-select
{
   position: relative;
   top: -4px;
}
.underlayArrows .ui-select span
{
   display: none;
}

.underlayArrows
{
   width: 170px;
   height: 23px;
   border: 1px solid #75736e;
   border-radius: 12px;
   display: inline-block;
   padding-top: 0px;
   padding-bottom: 0px;
   background-color: #FFE4AD;
   position: relative;
}
#leftTag, #leftMonat, #leftJahr, #leftMonats, #leftVorschau
{
   position: absolute;
   top: 5px;
   left: 7px;
}
#rightTag, #rightMonat, #rightJahr, #rightMonats, #rightVorschau
{
   position: absolute;
   top: 5px;
   right: 7px;
}

#infoWindow
{
   display: none;
   position: fixed;
   top: 0px;
   right: 0px;
   padding: 12px;
   width: 290px;
   border: 4px outset #FD712B;
   z-index: 99;
   background-color: #FFD9B2;
   font-size: 0.9em;
}
.infoButton, .infoButtonLarge
{
   height: 18px;
   border: 4px outset #FD712B;
   border-radius: 10px;
   text-align: center;
   margin: 6px auto;
   padding: 3px 0;
   background-color: #FE6A20;
   cursor: pointer;
}
.infoButton:hover, .infoButtonLarge:hover
{
   border: 4px inset #FD712B;
}
.infoButton
{
   width: 120px;
}
.infoButtonLarge
{
   width: 220px;
}
.infoText
{
   display: block;
}
.infoTextHidden
{
   display: none;
}

.kollabieren
{
   border-collapse: collapse;
   vertical-align: top;
}
.datenCon .header
{
   font-weight: bold;
}
.datenCon td
{
   border-style: solid;
   border-width: 1px;
   border-color:#764C24;
   margin: 0px;
   padding: 0px 2px 0px 2px;
}

.rechts
{
   text-align: right;
   padding-left: 4px;
   padding-right: 4px;
}
.links
{
   text-align: left;
   padding-left: 4px;
}
.mmBreite
{
   width: 38px;
   height: 30px;
   padding: 0px 4px;
   margin: 0px;
}
.zelleWetterLinks
{
   text-align: left;
   padding-left: 4px !important;
   padding-right: 4px !important;
   height: 30px;
   width: 174px;
}
.groesser
{
   font-weight: bold;
   font-size: 1.3em;
   color: #fe6a20
}
.obenLuft
{
   position: relative;
   top: 30px;
}
.breiter1
{
   width: 101px;
   height: 30px;
   margin: 0px;
}
.zelleAktuellLinks
{
   text-align: left;
   padding-left: 4px !important;
   height: 30px;
   width: 200px;
}
.mittig
{
   margin-left: auto;
   margin-right: auto;
}
#offline, #warningRequestAnswer, #soilFrostDisplay
{
   width: 298px;
   margin: 0 auto;
   padding: 0 10px 15px;
   text-align: center;
   display: none;
   border: 4px outset #C24100;
   z-index: 99;
   background-color: #FFD9B2;
   position: absolute;
   left: 0;
   right: 0;
   top: 100px;
   border-radius: 6px;
}

#soilFrostDisplay label
{
   font-weight: bold;
   margin-right: 12px;
}

#soilFrostDisplay input
{
   width: 235px;
   margin-bottom: 12px;
}
#warningRequestAnswer .text,
#soilFrostDisplay .text,
#soilfrostHtml
{
   text-align: justify;
   padding-bottom: 10px;
   -moz-hyphens: auto;
   -o-hyphens: auto;
   -webkit-hyphens: auto;
   -ms-hyphens: auto;
   hyphens: auto;
}
#datenCon0 .text
{
   text-align: justify;
   padding: 10px;
   -moz-hyphens: auto;
   -o-hyphens: auto;
   -webkit-hyphens: auto;
   -ms-hyphens: auto;
   hyphens: auto;
}
#warningRequestAnswer .infoButton,
#soilFrostDisplay .infoButton
{
   display: inline-block;
   margin: auto;
}
#offline ol
{
   text-align: left;
}

.zentriert
{
   text-align: center;
}
.grafikbox
{
   width: 311px;
   height: 158px;
   border: 1px solid #764c24;
   background-color: #fff4de;
   margin: 6px auto 0;
   color: #764c24;
   padding-top: 2px !important;
   font-weight: bold;
   position: relative;
}
.grafikbox img
{
   position: absolute;
   top: 15px;
   left: 5px;
}
#aussichtenImg
{
   border: 1px solid #764c24;
   width: 312px;
}
.monthPickerWindow .ui-datepicker-calendar
{
   display: none !important;
}
.datenCon th, .freiefUberschrift
{
   font-size: 1.35em;
   text-align: center;
   padding: 6px 0;
   background-color: #FFE4AD;
}
#AktTimestamp
{
   margin-left: 6px;
   font-size: 0.7em;
}
.uhr
{
   margin-left: 3px;
   font-size: 0.7em;
}

.freiefUberschrift
{
   width: 312px;
   margin: 6px auto 0;
   border: 1px solid #764c24;
   border-bottom: 0 none;
}
.valueLabels
{
   font-size:60%;
   color:black;
}
div.valueLabelLight
{
   opacity:0.5;
   background-color: white;
   border:none;
   position:absolute;
}
div.valueLabel
{
   position:absolute;
   border:none;
   width: 24px;
   margin-left: -12px;
   text-align: center;
   opacity:0.8;
}
#leftScroll, #rightScroll
{
   position: absolute;
   bottom: 5px;
   visibility: hidden;
   cursor: pointer;
}
#leftScroll
{
   left: 7px;
}

#rightScroll
{
   right: 7px;
}

.sonnenschein
{
   border-bottom: 1px solid #764c24;
}
#noconnection
{
   display: none;
   position: absolute;
   top: 30px;
}
.tieferkleiner
{
   font-size: 0.8em;
}
#datenCon0 .infoButtonLarge
{
   margin-top: 25px;
}
.soilfrostShell
{
   width: 298px;
   height: 30px;
   display: block;
   border: 1px solid #764c24;
   position: relative;
}
#soilfrostProbColor
{
   height: 100%;
   width: 0;
   display: block;
   background-color: lightblue;
   position: absolute;
}
#soilfrostProbText
{
   height: 100%;
   width: 100%;
   display: block;
   position: absolute;
   text-align: center;
   font-size: 1.2em;
   padding-top: 6px;
}

.soilfrostHeader
{
   font-size: 0.8em;
}
.kleiner
{
   font-size: 0.85em;
}
#baeumeLinks
{
   position: absolute !important;
   left: 200px;
   top: 0;
   height: 80px;
   overflow: visible;
   display: none;
}
#baeumeRechts
{
   position: absolute !important;
   right: 200px;
   top: 0;
   height: 80px;
   overflow: visible;
   display: none;

}
.AktTempBox
{
   width: 100%;
   text-align: right;
}
.AktTempOutBox
{
   width: 180px;
   text-align: center;
   vertical-align: top;
   display: inline-block;
}

#AktTempOut
{
   color: #fe6a20;
   font-size: 2.6em;
   font-weight: bold;
   vertical-align: top;
   display: inline-block;
}
.degreeC
{
   color: #fe6a20;
   display: inline-block;
   font-size: 1.0em;
   height: 50px;
   vertical-align: top;
   padding-top: 4px;
}
.tempMore
{
   display: inline-block;
}
.tempMore label
{
   display: inline-block;
   padding-right: 6px;
}
#AktWindChill, #AktDewpoint, #AktRelPressure, #AktRelHumOut, #AktRain1h, #AktRain24h
{
   display: inline-block;
}
.tempMoreLine
{
   padding-top: 3px;
   padding-right: 10px;
}
.AktBox
{
   width: 147px;
   display: inline-block;
   text-align: center;
   vertical-align: top;
}
.rechtsBasic
{
   text-align: right;
}
header
{
   font-size: 1.25em;
   font-weight: bold;
   margin-top: 12px;
}
#radar
{
   margin: 6px 0;
   height: 312px;
   width: 312px;
   display: block;
   border: 1px solid #764C24;
}
.blocksatz
{
   text-align: justify;
   -moz-hyphens: auto;
   -o-hyphens: auto;
   -webkit-hyphens: auto;
   -ms-hyphens: auto;
   hyphens: auto;
}
.hundert
{
   width: 100%;
}
.AktSuperBox
{
   border: 1px solid #764C24;
   padding: 6px;
   width: 300px;
}
.rahmen
{
   border: 1px solid #764C24;
}

.dayBlock
{
   background-color: #FFF4DE;
   position: relative;
   width: 311px;
   display: block;
   border: 1px solid #764C24;
   height: 75px;
   margin-bottom: 6px;
   cursor: pointer;
}

.ForecastDatestring
{
   position: absolute;
   top: 6px;
   left: 6px;
   font-weight: bold;
   text-align: center;
   width: 50px;
}

.ForecastIcon
{
   position: absolute;
   top: 20px;
   left: 6px;
}

.ForecastConditions
{
   position: absolute;
   top: 6px;
   left: 60px;
   font-weight: bold;
}

.ForecastPopBox
{
   position: absolute;
   top: 25px;
   left: 64px;
   font-size: 10pt;
   width: 85px;
   text-align: left;
   font-size: 10pt;
}

.ForecastPopBox label
{
   width: 50px;
   display: inline-block;
}

.ForecastPop
{
   display: inline-block;
}

.ForecastQpf
{
   display: inline-block;
}

.ForecastTempMax
{
   position: absolute;
   top: 6px;
   left: 260px;
   font-weight: bold;
   text-align: center;
   width: 50px;
   font-size: 18pt;
   color: #fe6a20;
}
.ForecastWindRose
{
   position: absolute;
   top: 6px;
   left: 174px;
}
.ForecastTempMin
{
   position: absolute;
   top: 40px;
   left: 260px;
   font-weight: bold;
   text-align: center;
   width: 50px;
   font-size: 14pt;
   color: #151BCC;
}
.hourBlock
{
   background-color: #FFF4DE;
   position: relative;
   width: 311px;
   display: block;
   border: 1px solid #764C24;
   height: 56px;
   margin-bottom: 6px;
}
#hourBlocks
{
   padding-top: 6px;
}
.HourlyHour
{
   position: absolute;
   top: 17px;
   left: 6px;
   font-weight: bold;
   font-size: 12pt;
   text-align: right;
   width: 42px;
}

.HourlyIcon
{
   position: absolute;
   top: 6px;
   left: 50px;
}

.HourlyConditions
{
   position: absolute;
   top: 6px;
   left: 110px;
   font-weight: bold;
}

.HourlyPopBox
{
   position: absolute;
   top: 25px;
   left: 110px;
   font-size: 10pt;
   width: 85px;
   text-align: left;
   font-size: 10pt;
}

.HourlyPopBox label
{
   width: 50px;
   display: inline-block;
}

.HourlyPop
{
   display: inline-block;
}
.HourlyWindRose
{
   position: absolute;
   top: 3px;
   left: 194px;
}
.HourlyTemp
{
   position: absolute;
   top: 10px;
   left: 260px;
   font-weight: bold;
   text-align: center;
   width: 50px;
   font-size: 20pt;
   color: #fe6a20;
}